<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#b41d23">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="icon" href="{{ '/assets/favicon.ico?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="/"><img class="page-header-logo" src="{{ '/assets/ruby-jp-white-big.svg?v=' | append: site.github.build_revision | relative_url }}" alt="{{ page.title | default: site.title | default: site.github.repository_name }}"></a></h1>
      <h2 class="project-tagline">{{ page.title }}</h2>
      <a href="{{ site.slack_invite_link }}" class="btn"><strong>ruby-jp Slack ワークスペースに参加する</strong></a>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-credits">ruby-jp は複数名の有志の Rubyist によって運営されています<br>This website and all chat comments are Licensed Under a Creative Commons Attribution 4.0 International License.</span>
      </footer>
    </main>
  </body>
</html>
